<%- include('header') %>
    <div>
        <h4 class="text-primary alert alert-info"><%= topic.topic %></h4>
        <div>
            <h4>Comment</h4>
            <% if(session.user_id != undefined) { %>
            <form action="/comment/<%= topic.id %>" method="post">
                <textarea name="detail" id="" cols="30" rows="4" class="form-control"></textarea>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Comment</button>
                </div>
            </form>
            <% } %>

            <% comments.forEach((comment) => { %>
                <div class="alert alert-warning">
                    <%= comment.detail %>
                    <div>
                        โดย: <%= comment.name %>
                    </div>
                </div>
            <% }) %>    
        </div>
    </div>
<%- include('footer') %>
    